.create-post-container {
  width: 450px;
  margin: 60px auto;
  padding: 25px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: "Poppins", sans-serif;
}

.create-post-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}

.post-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-field,
.textarea-field {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #c9c9c9;
  font-size: 16px;
  outline: none;
  transition: 0.2s;
}

.input-field:focus,
.textarea-field:focus {
  border-color: #007bff;
}

.textarea-field {
  height: 120px;
  resize: none;
}

.image-upload-label {
  background: #007bff;
  color: white;
  padding: 8px 12px;
  width: fit-content;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.image-upload-label input {
  display: none;
}

.preview-img {
  width: 100%;
  border-radius: 6px;
  margin-top: -5px;
}

.submit-btn {
  background: #28a745;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

.submit-btn:hover {
  background: #218838;
}
