.body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  background: #f8f8f8;
  #body {
    padding-left: 4.5675em;
    width: 100%;
    height: 8em;
    background-color: white;
  }
}