.left-side-nav {
  background: #f8f8f8;
  border-right: 1px solid #ccc;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

/* base link style */
.left-side-nav a {
  position: relative;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  color: black;
  font-size: 1em;
  align-items: center;
}

/* hover on link */
.left-side-nav a:hover {
  background: #ddd;
}

/* active link */
.left-side-nav a.active {
  color: white;
  background: #5d89ff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

/* active link icon padding */
.left-side-nav a.active i {
  padding: 0.75em 0.8125em 0.75em 1.1875em;
}

/* active link right-edge rounded bar */
.left-side-nav a.active::after {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
  clip-path: inset(-5px -5px -5px 0);
  content: "";
  z-index: 2;
  background: #5d89ff;
  position: absolute;
  right: -0.5em;
  width: 0.5em;
  height: 100%;
  border-radius: 0 0.375em 0.375em 0;
}

/* icon inside links */
.left-side-nav a i {
  padding: 0.75em 1em;
}

/* hidden menu text (default) */
.left-side-nav a span {
  transition: opacity 0.25s 1s, padding 0.5s 1.25s, font-size 0.5s 1.25s;
  padding: 0;
  font-size: 0;
  opacity: 0;
}

/* when nav hovered, show text */
.left-side-nav:hover a span {
  transition: padding 0.5s 1s, font-size 0.5s 1s, opacity 0.25s 1.5s;
  opacity: 1;
  font-size: 1em;
  padding: 0.75em 1em 0.75em 0;
}

/* special padding for active item when expanded */
.left-side-nav:hover a.active span {
  padding: 0.75em 0.8125em 0.75em 0.1875em;
}

.nav-logo{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 100%;
  height: 76px;
  /* border-radius: 50%; */
  background: linear-gradient(135deg, #5d89ff, #fc466b);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 700;
}


.nav-logo .avatar{
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
}